/*清除外边距*/

body,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
blockquote,
figure,
/*结构元素*/

dl,
dt,
dd,
ul,
ol,
li,
/*列表元素*/

fieldset,
lengend,
button,
input,
textarea,
/*表单元素*/

th,
td,
/*表格元素*/

pre
/*文本格式元素*/

    {
    margin: 0;
}

/*清除内边距*/

ul,
ol,
menu {
    padding: 0;
}

/*重置列表元素*/

ul,
ol {
    list-style: none;
}

/*将字体扶正*/

address,
cite,
dfn,
em,
var {
    font-style: normal;
}

/*清下划线*/

a {
    text-decoration: none;
    color: black;
}

/*鼠标略过a标签，显示下划线*/

a:hover {
    /*text-decoration: underline;*/
}

/*清浮动*/

.clear:after {
    content: '';
    display: block;
    clear: both;
}

html {
    font-size: 32px;
}

body {
    background: #2c1512;
}

/* .top {
    position: relative;
    height: 18.9375rem;
    width: 100%;
    background: url(http://src.leju.com/imp/imp/deal/de/66/e/64c93ff3994224169de50cd05f3_p24_mk24.jpg) no-repeat;
    background-size: 100% 100%;
} */
.wrap{
    display: none;
}
.top{
    position: relative;
}
.top img{
    width: 100%;
}

.wt_many_topcity {
    position: absolute;
    top: 2.96875rem;
    left: 16.75rem;
    height: .71875rem;
    padding: 0 .4375rem;
    font-size: .4375rem;
    line-height: .71875rem;
    color: #f6d375;
    border: 1px solid #c8a95e;
    background: rgba(53, 34, 21, .8);
    border-radius: 3px;
    overflow: hidden;
}

.nav {
    width: 19.15625rem;
    height: 1.25rem;
    padding: 1px;
    margin: .15625rem 0 0 .375rem;
    background: url('http://src.leju.com/imp/imp/deal/de/ec/1/a0015e5bc0b4a6a4cbeb9c5d887_p24_mk24.png') left top no-repeat;
    background-position: 0.5rem -8rem;
    border-radius: 4px;
    background-size: cover;
    overflow: hidden;
}

.nav ul {
    height: 1.05rem;
    background: #2e1512;
    /* width: 94%; */
    border: 1px solid #91754D;
    border-radius: 4px;
    /* margin: 0 auto; */
}

.nav li {}

.nav ul:nth-of-type(1) li {
    float: left;
    font-size: .75rem;
    color: #ebdebd;
    line-height: 1.25rem;
    height: 1.25rem;
}

.nav .clear li:nth-of-type(1) {
    width: 9.875rem;
    padding-left: .84375rem;
}

.nav .clear li:nth-of-type(2) {
    width: 5.78125rem;
}

.nav li:nth-of-type(2) {
    width: 2.5rem;
}

/*
.wt_manynav_box {
    width: 20rem;
    height: 1.25rem;
    padding: 1px;
    background: url(http://src.leju.com/imp/imp/deal/de/ec/1/a0015e5bc0b4a6a4cbeb9c5d887_p24_mk24.png);
    background-position: 0.5rem -8.3rem;
    border-radius: 4px;
    background-size: cover;
    overflow: hidden;
}
.wt_manynav {
    height: 1.25rem;
    border-radius: 4px;
}

.wt_manynav li {
    float: left;
    margin-top: 0.1rem;
    font-size: .75rem;
    color: #ebdebd;
    line-height: 1.25rem;
    height: 1.2rem;
    background: #2e1512;    
}

.wt_manynav li:nth-child(1) {
    width: 9.875rem;
    padding-left: .84375rem;
}
.wt_manynav li:nth-child(2) {
    width: 5.78125rem;
}
.wt_manynav li:nth-child(3) {
    width: 3.1rem;
    border-radius: 3px;
}

.wt_manynav li:nth-child(1) {
    width: 9.875rem;
    padding-left: .84375rem;
}
*/

/* 候选人列表 */

.report_list li {
    padding: .15625rem .40625rem;
}

.report_portrait a {
    float: left;
    width: 2.25rem;
    height: 2.25rem;
    margin: .375rem 1.15625rem 0 .625rem;
    border-radius: 50%;
    overflow: hidden;
}

report_portrait li {
    position: relative;
}

.report_portrait img {
    height: 100%;
    width: 100%;
}

.report_msg p:nth-of-type(1) {
    color: white;
    /* font-size: 16px; */
    margin-top: .34375rem;
    font-size: .75rem;
    font-family: Microsoft YaHei;
    line-height: 1.0625rem;
}

.report_list li div {
    display: inline-block;
}

.report_msg {
    width: 5.625rem;
    height: 3.4rem;
}

.report_msg p:nth-of-type(2) {
    color: #ceb17b;
    font-size: 0.5rem;
}

.report_poll {
    width: 4.875rem;
    overflow: hidden;
    margin-right: .9375rem;
    color: white;
}

.report_poll span {
    display: inline-block;
    margin: .96875rem 0 0 .9375rem;
    font-size: .75rem;
    line-height: 1.0625rem;
    /* line-height: -2.0625rem; */
    font-family: Microsoft YaHei;
    color: #fff;
}

.report_poll {
    /* position: relative; */
    vertical-align: top;
    /* top: -0.68rem; */
}

.report_support {
    width: 3.53125rem;
    height: 1.9375rem;
    margin: .625rem 0 0 -1rem;
    margin-top: .625rem;
    background: url(http://src.leju.com/imp/imp/deal/de/ec/1/a0015e5bc0b4a6a4cbeb9c5d887_p24_mk24.png) no-repeat;
    background-size: 20.25rem 10.25rem;
    background-position: -3.8125rem 0;
    text-align: center;
}

.report_right {
    position: relative;
    top: 0;
    padding-bottom: .23rem;
    border-bottom: 1px solid #6f5335;
}

footer img {
    width: 100%;
}

.report_list li {
    height: 3.9952rem !important;
}

.report_support a {
    display: inline-block;
    width: 100%;
    height: 100%;
}