* {
    padding: 0;
    margin: 0;
}

.wrap {
    width: 1200px;
    margin: 0 auto;
}

.wrap img {
    display: block;
}

/* 报名 */

.signName {
    /* display: block; */
}

.signPhone {
    /* display: block; */
}

.signName,
.signPhone {
    display: block;
    margin: 30px auto;
    background: #e5e5e5;
    height: 124px;
    width: 845px;
    color: #bababa;
    outline: none;
    font-size: 60px;
    padding: 0 0 0 30px;
    border: none;
}

.sign {
    display: block;
    margin: 0 auto;
    width: 875px;
    height: 124px;
    outline: none;
    border: none;
    background: #2961ac;
    color: #fdfeff;
    font-size: 60px;
}

.myForm input::-webkit-input-placeholder {
    /* WebKit browsers */
    color: #bababa;
}

.myForm input:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #bababa;
}

.myForm input::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #bababa;
}

.myForm input:-ms-input-placeholder {
    /* Internet Explorer 10+ */
    color: #bababa;
}